StarKit/Podfile.lock
StarKit/Pods/Manifest.lock
StarKit/Pods/ObjCAA/LICENSE
StarKit/Pods/ObjCAA/README.md
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAAberration.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAAngularSeparation.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AABinaryStar.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AACoordinateTransformation.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AADate.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AADiameters.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AADynamicalTime.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAEarth.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAEaster.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAEclipses.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAEclipticalElements.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAElementsPlanetaryOrbit.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAElliptical.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAELP2000.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAELPMPP02.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAEquationOfTime.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAEquinoxesAndSolstices.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAEquinoxesAndSolstices2.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAFK5.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAGalileanMoons.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAGlobe.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAIlluminatedFraction.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAInterpolate.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAJewishCalendar.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAJupiter.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAKepler.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMars.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMercury.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoon.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoonIlluminatedFraction.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoonMaxDeclinations.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoonMaxDeclinations2.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoonNodes.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoonPerigeeApogee.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoonPhases.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAMoslemCalendar.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AANearParabolic.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AANeptune.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AANodes.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AANutation.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAParabolic.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAParallactic.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAParallax.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPhysicalJupiter.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPhysicalMars.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPhysicalMoon.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPhysicalSun.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPlanetaryPhenomena.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPlanetPerihelionAphelion.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPluto.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAPrecession.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AARefraction.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AARiseTransitSet.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AARiseTransitSet2.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AASaturn.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AASaturnMoons.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AASaturnRings.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AASidereal.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAStellarMagnitudes.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AASun.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAUranus.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVenus.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_EMB.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_JUP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_MAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_MER.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_NEP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_SAT.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_URA.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87_VEN.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_EAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_EMB.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_JUP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_MAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_MER.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_NEP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_SAT.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_URA.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87A_VEN.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_EAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_JUP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_MAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_MER.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_NEP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_SAT.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_URA.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87B_VEN.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_EAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_JUP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_MAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_MER.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_NEP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_SAT.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_URA.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87C_VEN.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_EAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_JUP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_MAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_MER.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_NEP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_SAT.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_URA.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87D_VEN.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_EAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_JUP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_MAR.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_MER.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_NEP.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_SAT.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_SUN.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_URA.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/AAVSOP87E_VEN.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/stdafx.cpp
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AA2DCoordinate.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AA3DCoordinate.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AA_.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAAberration.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAAngularSeparation.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AABinaryStar.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AACoordinateTransformation.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AADate.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AADiameters.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AADynamicalTime.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAEarth.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAEaster.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAEclipses.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAEclipticalElements.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAElementsPlanetaryOrbit.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAElliptical.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAELP2000.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAELPMPP02.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAEquationOfTime.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAEquinoxesAndSolstices.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAEquinoxesAndSolstices2.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAFK5.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAGalileanMoons.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAGlobe.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAIlluminatedFraction.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAInterpolate.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAJewishCalendar.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAJupiter.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAKepler.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMars.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMercury.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoon.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoonIlluminatedFraction.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoonMaxDeclinations.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoonMaxDeclinations2.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoonNodes.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoonPerigeeApogee.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoonPhases.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAMoslemCalendar.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AANearParabolic.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AANeptune.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AANodes.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AANutation.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAParabolic.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAParallactic.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAParallax.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPhysicalJupiter.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPhysicalMars.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPhysicalMoon.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPhysicalSun.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPlanetaryPhenomena.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPlanetPerihelionAphelion.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPluto.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAPrecession.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AARefraction.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AARiseTransitSet.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AARiseTransitSet2.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AASaturn.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AASaturnMoons.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AASaturnRings.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AASidereal.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAStellarMagnitudes.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AASun.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAUranus.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVenus.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_EMB.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_JUP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_MAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_MER.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_NEP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_SAT.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_URA.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87_VEN.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_EAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_EMB.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_JUP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_MAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_MER.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_NEP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_SAT.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_URA.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87A_VEN.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_EAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_JUP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_MAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_MER.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_NEP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_SAT.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_URA.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87B_VEN.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_EAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_JUP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_MAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_MER.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_NEP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_SAT.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_URA.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87C_VEN.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_EAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_JUP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_MAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_MER.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_NEP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_SAT.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_URA.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87D_VEN.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_EAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_JUP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_MAR.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_MER.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_NEP.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_SAT.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_SUN.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_URA.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/AAVSOP87E_VEN.h
StarKit/Pods/ObjCAA/Sources/aaplus-v2.08/include/stdafx.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAA2DCoordinate.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAA3DCoordinate.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAAberration.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAAngularSeparation.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAABinaryStar.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAACoordinateTransformation.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAADate.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAADiameters.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAADynamicalTime.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAEarth.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAEclipses.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAEclipticalElements.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAElementsPlanetaryOrbit.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAElliptical.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAEquationOfTime.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAEquinoxesAndSolstices.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAFK5.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAGalileanMoons.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAGlobe.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAIlluminatedFraction.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAInterpolate.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAJupiter.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAKepler.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMars.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMercury.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMoon.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMoonIlluminatedFraction.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMoonMaxDeclinations.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMoonNodes.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMoonPerigeeApogee.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAMoonPhases.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAANearParabolic.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAANeptune.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAANodes.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAANutation.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAParabolic.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAParallactic.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAParallax.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPhysicalJupiter.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPhysicalMars.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPhysicalMoon.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPhysicalSun.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPlanetaryPhenomena.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPlanetPerihelionAphelion.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPluto.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAPrecession.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAARefraction.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAARiseTransitSet.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAASaturn.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAASaturnMoons.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAASaturnRings.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAASidereal.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAStellarMagnitudes.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAASun.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAUranus.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/KPCAAVenus.mm
StarKit/Pods/ObjCAA/Sources/ObjCAA/ObjCAA.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAA2DCoordinate.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAA3DCoordinate.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAAberration.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAAngularSeparation.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAABinaryStar.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAACoordinateTransformation.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAADate.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAADiameters.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAADynamicalTime.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAEarth.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAEclipses.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAEclipticalElements.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAElementsPlanetaryOrbit.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAElliptical.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAEquationOfTime.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAEquinoxesAndSolstices.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAFK5.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAGalileanMoons.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAGlobe.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAIlluminatedFraction.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAInterpolate.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAJupiter.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAKepler.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMars.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMercury.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMoon.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMoonIlluminatedFraction.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMoonMaxDeclinations.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMoonNodes.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMoonPerigeeApogee.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAMoonPhases.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAANearParabolic.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAANeptune.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAANodes.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAANutation.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAParabolic.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAParallactic.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAParallax.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPhysicalJupiter.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPhysicalMars.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPhysicalMoon.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPhysicalSun.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPlanetaryPhenomena.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPlanetPerihelionAphelion.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPluto.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAPrecession.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAARefraction.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAARiseTransitSet.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAASaturn.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAASaturnMoons.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAASaturnRings.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAASidereal.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAStellarMagnitudes.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAASun.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAASwiftAdditions.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAUranus.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/KPCAAVenus.h
StarKit/Pods/ObjCAA/Sources/ObjCAA/include/ObjCAA.h
StarKit/Pods/Pods.xcodeproj/project.pbxproj
StarKit/Pods/Pods.xcodeproj/xcuserdata/jordantrana.xcuserdatad/xcschemes/ObjCAA.xcscheme
StarKit/Pods/Pods.xcodeproj/xcuserdata/jordantrana.xcuserdatad/xcschemes/Pods-StarKit-StarKitTests.xcscheme
StarKit/Pods/Pods.xcodeproj/xcuserdata/jordantrana.xcuserdatad/xcschemes/Pods-StarKit.xcscheme
StarKit/Pods/Pods.xcodeproj/xcuserdata/jordantrana.xcuserdatad/xcschemes/SwiftAA.xcscheme
StarKit/Pods/Pods.xcodeproj/xcuserdata/jordantrana.xcuserdatad/xcschemes/xcschememanagement.plist
StarKit/Pods/SwiftAA/LICENSE
StarKit/Pods/SwiftAA/README.md
StarKit/Pods/SwiftAA/Sources/SwiftAA/Angles.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Asteroids.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/AstronomicalCoordinates.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/AstronomicalObject.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/AthmosphericRefraction.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/BinaryStars.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/CelestialBodies.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Constants.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/DateExtensions.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Distances.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Earth.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Fluxes.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/GeographicCoordinates.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/JulianDay.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Jupiter.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/JupiterMoons.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Magnitudes.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Mars.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Mercury.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Moon.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Neptune.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/NumericType.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Nutation.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/ObjectBase.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/PlanetaryBase.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/PlanetaryDetails.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/PlanetaryOrbits.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/PlanetaryPhenomena.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/PlanetaryPhysicalDetails.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/PlanetConstants.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Planets.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Pluto.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/RiseTransitSet.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Saturn.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/SaturnMoons.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/SaturnRings.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/ScientificConstants.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Sun.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Times.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Uranus.swift
StarKit/Pods/SwiftAA/Sources/SwiftAA/Venus.swift
StarKit/Pods/Target Support Files/ObjCAA/ObjCAA-dummy.m
StarKit/Pods/Target Support Files/ObjCAA/ObjCAA-Info.plist
StarKit/Pods/Target Support Files/ObjCAA/ObjCAA-prefix.pch
StarKit/Pods/Target Support Files/ObjCAA/ObjCAA-umbrella.h
StarKit/Pods/Target Support Files/ObjCAA/ObjCAA.debug.xcconfig
StarKit/Pods/Target Support Files/ObjCAA/ObjCAA.modulemap
StarKit/Pods/Target Support Files/ObjCAA/ObjCAA.release.xcconfig
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit-acknowledgements.markdown
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit-acknowledgements.plist
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit-dummy.m
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit-Info.plist
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit-umbrella.h
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit.debug.xcconfig
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit.modulemap
StarKit/Pods/Target Support Files/Pods-StarKit/Pods-StarKit.release.xcconfig
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-acknowledgements.markdown
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-acknowledgements.plist
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-dummy.m
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-frameworks-Debug-input-files.xcfilelist
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-frameworks-Debug-output-files.xcfilelist
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-frameworks-Release-input-files.xcfilelist
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-frameworks-Release-output-files.xcfilelist
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-frameworks.sh
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-Info.plist
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests-umbrella.h
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests.debug.xcconfig
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests.modulemap
StarKit/Pods/Target Support Files/Pods-StarKit-StarKitTests/Pods-StarKit-StarKitTests.release.xcconfig
StarKit/Pods/Target Support Files/SwiftAA/SwiftAA-dummy.m
StarKit/Pods/Target Support Files/SwiftAA/SwiftAA-Info.plist
StarKit/Pods/Target Support Files/SwiftAA/SwiftAA-prefix.pch
StarKit/Pods/Target Support Files/SwiftAA/SwiftAA-umbrella.h
StarKit/Pods/Target Support Files/SwiftAA/SwiftAA.debug.xcconfig
StarKit/Pods/Target Support Files/SwiftAA/SwiftAA.modulemap
StarKit/Pods/Target Support Files/SwiftAA/SwiftAA.release.xcconfig
StarKit/StarKit.xcworkspace/contents.xcworkspacedata
StarKit/StarKit.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
StarKit/StarKit.xcworkspace/xcuserdata/jordantrana.xcuserdatad/UserInterfaceState.xcuserstate
